<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive">
                <nz-table 
                    #headerTable  
                    nzShowPagination
                    [nzData]="data" 
                    [nzPageSize]="5" 
                    [nzLoading]="loading"
                    [nzScroll]="{ x: '240px' }"
                    class="table forms-table table-striped table-bordered"
                    *ngIf="data.length >= 1">
                    <thead>
                      <tr class="bg-light"> 
                        <th *ngFor="let head of header; let i = index">
                            {{head}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let allData of data">    
                            <td>{{allData["id"]}}</td>                   
                            <td>{{allData["name"]}}</td>                   
                            <td>{{allData["value"]}}</td>                   
                            <td>
                                <img [src]="allData['logo']" style="width: 50px; height: 50px; border-radius: 50%;" alt="photo" />
                            </td>                   
                            <td>{{allData["modified"] | date:'medium'}}</td> 
                            <td>
                                <button 
                                    class="btn btn-success" 
                                    (click)="goToEdit(allData['id'], allData)"
                                    matRipple><i nz-icon nzType="edit" nzTheme="outline"></i></button>
                                <button 
                                    nz-popconfirm
                                    nzPopconfirmTitle="هل انت متأكد من عملية الحذف؟"
                                    nzPopconfirmPlacement="top"
                                    (nzOnConfirm)="delete(allData['id'])"
                                    class="btn btn-danger" 
                                    matRipple><i nz-icon nzType="delete" nzTheme="outline"></i></button>                                
                            </td>                  
                        </tr>
                    </tbody>
                </nz-table>
                <nz-table [nzData]="data" *ngIf="data.length == 0"></nz-table>              
            </div>
        </div>
    </div>
</div>