<div class="row">
    <div class="col-md-12">
        <form nz-form autocomplete="off" [formGroup]="form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <nz-form-label nzRequired>
                            <label for="text">
                                النص
                            </label>
                        </nz-form-label>
                        <div class="input-group-lg">
                            <nz-input-group>
                                <quill-editor
                                    id="text" 
                                    name="text"
                                    required 
                                    formControlName="text"
                                    [style]="{height: '400px'}"></quill-editor>                                            
                            </nz-input-group >
                        </div>                             
                    </div>                
                </div>                                     
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <div class="float-left">
                            <nz-form-label nzRequired>
                                <label for="photo">
                                    الصورة
                                </label>
                            </nz-form-label>
                        </div>
                        <div class="input-group-lg">
                            <nz-input-group>
                                <label for="photo" class="btn btn-block" matRipple>
                                    <i class="mdi mdi-upload"></i>
                                    {{imageName}}
                                    <img *ngIf="isUpdate" [src]="obj['photo']" alt="photo" style="width: 50px; height: auto;" />
                                </label>
                                <input 
                                    type="file" 
                                    class="form-control-file" 
                                    id="photo"
                                    name="photo"
                                    (change)="getImageName($event.target.files)">                                             
                            </nz-input-group >
                        </div>                             
                    </div>                
                </div>                    

                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <button 
                            class="btn btn-block btn-lg btn-info" 
                            matRipple
                            [disabled]="!form.valid"
                            *ngIf="!isUpdate"
                            (click)="add()">
                            <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isAdd"></i>
                            اضافة
                        </button>                           
                        <button 
                            class="btn btn-block btn-lg btn-success" 
                            matRipple
                            [disabled]="!form.valid"
                            *ngIf="isUpdate"
                            (click)="update()">
                            <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isAdd"></i>
                            تحديث
                        </button>                           
                    </div>                
                </div>
            </div>
        </form>
    </div>
</div>
